@import "./index.scss";

.landing-container {
  @include flex-col;

  align-items: center;
  justify-content: center;
  text-align: center;

  &__banner {
    width: calc(100% + 12rem);
    height: fit-content;
    max-height: 65rem;

    @include tablet {
      width: calc(100% - 6rem);
      padding-right: 6rem;
    }
  } 

  &__room-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;

    @include tablet {
      width: 100%;
      margin-left: -6rem;
    }
  }

  &__explore-btn {
    color: goldenrod;
    font-size: 3.4rem;
    cursor: pointer;
    font-weight: 600;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    padding-right: 3rem;
  }

  @include tablet {
    margin-left: -1rem;
  }
}

.rentkart_heading {
  @include tablet {
    font-size: 2.8rem;
    margin-left: -2.8rem;
    padding-bottom: 1.4rem;

  }
}

.title {
  font-style: italic;
  color: darkorchid;
  padding: 2rem 1rem;

  @include tablet {
  font-style: unset;
  padding: unset;
  }
}

.benefit_box {
  box-shadow: 0 -2px 10px grey;
  border: 1px solid lavender;
  border-radius: 14px;
  width: 50%;
  display: flex;
  margin: 2rem;
  padding: 2rem;

  &__img {
    background-color: lavender;
    border-radius: 14px;  
  }

  &__text {
    @include flex-col;

    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
    text-align: left;
  }

  @include tablet {
    width: -webkit-fill-available;
    margin-left: -1rem;
    margin-right: 4rem;
  }
}

.benefit_container {
  padding-top: 2rem;

  @include tablet {
    @include flex-col;
    width: 100%;
  }
}

.benefit-title {
  font-size: 2.4rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
   @include multiline-ellipses(2);
  }
}

.benefit-description {
  @include multiline-ellipses(2);
  font-size: 1.8rem;

  @include tablet {
    font-size: 1.6rem;

  }
}

.benefit-heading {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;

  @include tablet {
    padding-right: 5rem;
  }
}