$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin screen-size($x: 1024px) {
  @media screen and (max-width: $x) {
    @content;
  }
}

@mixin mobile {
  @include screen-size($mobile-width) {
    @content;
  }
}

@mixin tablet {
  @include screen-size($tablet-width) {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin multiline-ellipses($line: 2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}